.container-overview {
    width: 1200px;
    height: 93vh;
    position: relative;
}
.min-size {
    min-width: 1460px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlap-header {
    width: 100%;
    height: 42px;
    margin-bottom: 3.4em;
}
.overlap-main {
    height: 1504px;
    width: 1130px;
    position: absolute;
    right: 0px;
}

.overlap-day-box {
    width: 161.16px;
    height: 100%;
}

.click-through {
    pointer-events: none;
}

.pool {
    height: 80vh;
    max-height: 92vh;
}

.max-height {
    max-height: 80vh;
    overflow-y: scroll;
}
.min-width-cal {
    min-width: 1250px;
}

.min-height {
    min-height: 220px;
}

.min-size-statsPage {
    min-width: 618px;
}

.injected-container {
    @apply flex flex-col justify-end items-end;
    position: relative;

    margin-right: 1px;
    z-index: 1000;

    width: 50px;
    height: 70px;

    padding: 0 !important;
}

.injected-buttons {
    @apply border-2 border-calendar-blue;
    background-color: white;
    margin-top: 8px;

    border-radius: 50%;
    width: 25px;
    height: 25px;

    padding: 0 !important;

    overflow: hidden;
}

.prevent-pointer {
    pointer-events: none;
}
